<!doctype html>
<html lang="en">
    <head>
        <title>Argon Sound Demo</title>
        <link rel="apple-touch-icon" href="images/sample_icon_57x57.png" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="arenabled" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />

    </head>

    <body>

        <div id="app-container"></div>

        <script src="http://argon.gatech.edu/argon_o.js"></script>
        <script data-main="/scripts/main" src="/scripts/lib/require/require.js"></script>


    </body>


</html>