<!doctype html>
<html lang="en">
    <head>
        <title>Argon Sound Demo</title>
        <link rel="apple-touch-icon" href="images/sample_icon_57x57.png" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="arenabled" />
        <script>
            var myAppController =
            {

                onArgonReady : function()
                {
                    var urls = []; // sounds go here

                }

                // do something with vars
            };

            document.addEventListener("AR.ArgonReadyEvent", myAppController.onArgonReady);

            //var audio = document.getElementById("audio'");
            //audio.play();


        </script>
    </head>

    <body>
        <div style="background-color: green; width: 100px; height: 100px;">test</div>
        <!-- audio -->
        <audio id="audio" preload="auto" controls>
            <source src="https://www.prism.gatech.edu/~blyle6/roost.mp3" type="audio/mpeg" />
        </audio>
        <script src="http://argon.gatech.edu/argon_o.js"></script>
    </body>


</html>