/**
* Master CSS Style Sheet
*/

/*
                  iPhone 1-4s   iPhone 5
Portrait  (WxH)   320 x 356 px  320 x 444 px
Landscape (WxH)   480 x 196 px  568 x 196 px
*/

body{
  background: black;
  //background: #f1f1f1;
  min-height:416px;
}

.start{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width: 300px;
  height: 300px;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  canvas#start-canvas{
    width: 300px;
    height: 300px;
  }
  &.started{
    top: 0px;
    left: 0px;
  }
}


